* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
	flex-direction: column;
  height: 100vh;
	background-color: black;
}

h1 {
	padding: 20px;
	color: white;
}

main {
  display: flex;
  justify-content: space-around;
	width: 80%;
}

a {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
	text-align: center;
}
