@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

h1 {
  padding: 20px;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  margin: 20px;
  padding: 10px;
}

.yellow {
  background-color: #C2B800;
}

.orange {
  background-color: orange;
}
